<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Database connection properties - Driver, URL, user, password -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/hibernateguicetest?createDatabaseIfNotExist=true</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">wodna33</property>

		<!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Print SQL to stdout. -->
		<property name="show_sql">true</property>

		<!-- Mapping files. -->
		<mapping resource="Article.hbm.xml" />
		<mapping resource="Customer.hbm.xml" />
		<mapping resource="Orders.hbm.xml" />
      	<mapping class="org.daniels.examples.model.Role"/>
      
	</session-factory>
</hibernate-configuration>

